{% extends 'base.html' %}

{% block title %}
        <title>Eliminar Ayudante</title>
{% endblock title %}
{% block content %}
<form method="POST">

    {% csrf_token %}

    <h2>¿Seguro que desea eliminar al ayudante {{ ayudante.personaId.nombre }} {{ ayudante.personaId.apellido }}?</h2>
    <form method="POST">
        <button type="submit" class="btn btn-danger">
            Eliminar
        </button>
    </form>

    <form action="{% url 'sesiones:list_helpers' %}" method="GET">
        <button type="submit" class="btn btn-secondary">
                Cancelar
        </button>
    </form>

</form>

    
{% endblock content %}

