{% extends 'base.html' %}

{% block title %}
        <title>Editar Ayudante</title>
{% endblock title %}
{% block content %}
<form method="POST">
    <br><br>
    {% csrf_token %}
    <div class="col-md-3 mx-auto">
        <div class="mb-3">
            <label class="form-label">Nombre</label>
            <input type="text" class="form-control {% if form_persona.nombre.errors %}is-invalid{% endif %}" name="nombre" value="{{ form_persona.nombre.value }}">
            {% for error in form_persona.nombre.errors %}
            <div class="invalid-feedback">
                {{ error }}
            </div>
            {% endfor %}
        </div>

        <div class="mb-3">
            <label class="form-label">Apellido</label>
            <input type="text" class="form-control {% if form_persona.apellido.errors %}is-invalid{% endif %}" name="apellido" value="{{ form_persona.apellido.value }}">
            {% for error in form_persona.apellido.errors %}
            <div class="invalid-feedback">
                {{ error }}
            </div>
            {% endfor %}
        </div>

        <div class="mb-3">
            <label class="form-label">Nombre de Usuario</label>
            <input type="text" class="form-control" name="nombre_usuario" value="{{ form_ayudante.nombre_usuario.value }}" readonly>
        </div>

        <div class="mb-3">
            <label class="form-label">Contraseña</label>
            <input type="text" class="form-control {% if form_persona.contraseña.errors %}is-invalid{% endif %}" name="contraseña" value="{{ form_persona.contraseña.value }}">
            {% for error in form_persona.contraseña.errors %}
            <div class="invalid-feedback">
                {{ error }}
            </div>
            {% endfor %}
        </div>


        <button type="submit" class="btn btn-lg btn-success">
            Actualizar
        </button>
    </div>

</form>

{% if form.errors %}
        <div class="errors">
            <p>Hubo algunos errores en el formulario:</p>
            <ul>
                {% for field in form %}
                    {% for error in field.errors %}
                        <li>{{ field.label }}: {{ error }}</li>
                    {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
{% endblock %}