{% extends 'base.html' %}

{% block title %}
        <title>Listade de Usuarios</title>
{% endblock title %}

{% block content %}
<form method="GET">

    {% csrf_token %}

    <ul>
        {% if usuarios %}
        <div class="row">
            {% for usuario in usuarios %}
            <div class="col-md-3 mb-4">
                <div class="card" style="width: 20rem;">
                    <div class="card-body">
                        <h5 class="card-title">{{usuario.personaId.nombre}} {{usuario.personaId.apellido}}</h5>
                        <h6 class="card-subtitle mb-2 text-body-secondary">{{ usuario.dni }}</h6>
                        <p class="card-text">Un pequeño texto que tranquilamente podemos reemplazar o eliminar</p>
                        <a href="{% url 'sesiones:edit_user' usuario.id %}" class="btn btn-primary">Editar Perfil</a>
                        <a href="{% url 'sesiones:delete_user' usuario.id %}" class="btn btn-danger">Eliminar Usuario</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% else %}
                <h1>No existen usuarios en el sistema</h1>
        {% endif %}
    </ul>

</form>
{% endblock content %}