{% extends 'base.html' %}

{% block title %}
        <title>Listade de Usuarios</title>
{% endblock title %}

{% block content %}
<form method="GET">

    {% csrf_token %}

    <ul>
        {% if usuarios %}
        <div class="row">
            {% for usuario in usuarios %}
            <div class="col-md-3 mb-4">
                <div class="card" style="width: 20rem;">
                    <div class="card-body">
                        <a href="{% url 'sesiones:view_profile_user' usuario.id %}">
                            {{ usuario.personaId.nombre }} {{usuario.personaId.apellido}}
                        </a>
                        <h6 class="card-subtitle mb-2 text-body-secondary">{{ usuario.dni }}</h6>
                        {% if request.session.rol == 'administrador'%}
                            <a href="{% url 'sesiones:delete_user' usuario.id %}" class="btn btn-danger">Eliminar Usuario</a>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% else %}
                <h1>No existen usuarios en el sistema</h1>
        {% endif %}
    </ul>

</form>
{% endblock content %}