{% extends 'base.html' %}

{% block title %}
        <title>Listade de Ayudantes</title>
{% endblock title %}

{% block content %}
<form method="GET">

    {% csrf_token %}

    <ul>
        {% if ayudantes %}
        <div class="row">
            {% for ayudante in ayudantes %}
            <div class="col-md-3 mb-4">
                <div class="card" style="width: 20rem;">
                    <div class="card-body">
                        <a href="{% url 'sesiones:view_profile_helper' ayudante.id %}">
                            {{ ayudante.personaId.nombre }} {{ayudante.personaId.apellido}}
                        </a>
                        <h6 class="card-subtitle mb-2 text-body-secondary">{{ ayudante.dni }}</h6>
                        {% if request.session.rol == 'administrador' %}
                            <a href="{% url 'sesiones:edit_helper' ayudante.id %}" class="btn btn-primary">Editar Perfil</a>
                            <a href="{% url 'sesiones:delete_helper' ayudante.id %}" class="btn btn-danger">Eliminar Ayudante</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
        {% else %}
                <h1>No existen ayudantes en el sistema</h1>
        {% endif %}
    </ul>

</form>
{% endblock content %}