{% extends 'base.html' %}

{% block title %}
        <title>Eliminar Categoria</title>
{% endblock title %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6 text-center">
            <h1 class="mb-4">Eliminar Categoria</h1>
            <p class="mb-4">¿Estás seguro que deseas eliminar la categoria {{ categoria.titulo }}?</p>

            <form action="{% url 'listados:eliminar_categoria' categoria.id %}" method="POST">
                {% csrf_token %}
                <div class="d-flex justify-content-center">
                    <button type="submit" name="action" value="confirm" class="btn btn-lg btn-danger mx-2">Aceptar</button>
                    <button type="submit" name="action" value="cancel" class="btn btn-lg btn-secondary mx-2">Cancelar</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}