{% extends 'layouts/navBar.html' %}

{% block content %}
<form method="POST">

    {% csrf_token %}
    <ul>
        {% for usuario in usuarios %}
            <li>
                <a href="{% url 'edit_user' usuario.id %}">
                    <h2>nombre de usuario: {{usuario.personaId.nombre}}</h2>
                    <p>dni de usuario: {{ usuario.dni }}</p>
                </a>
            </li>
        {% endfor %}
    </ul>

    <button>
        Registrar
    </button>

</form>
{% endblock %}