{% extends 'layouts/navBar.html' %}

{% block content %}
<form method="POST">

    {% csrf_token %}
    <ul>
        {% for ayudante in ayudantes %}
            <li>
                <a href="{% url 'edit_intern' ayudante.id %}">
                    <h2>nombre del ayudante: {{ayudante.personaId.nombre}}</h2>
                    <p>apellido del ayudante: {{ ayudante.personaId.apellido }}</p>
                    <p>nombre de usuario: {{ ayudante.nombre_usuario }}</p>
                </a>
                <button>
                    <a href="{% url 'delete_helper' ayudante.id %}">
                        Eliminar
                    </a>
                </button>

            </li>
        {% endfor %}
    </ul>

</form>
{% endblock %}