{% extends 'base.html' %}

{% block title %}
<html>
<head>
    <title>Confirmar Usuario</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
</head>
{% endblock title %}
{% block content %}
<body>
    <div class="container">
        <h2 class="mt-5">Confirmar Datos</h2>
        <p>Usuario: {{ usuario.nombre }} {{ usuario.apellido }}</p>
        <p>DNI: {{ usuario.dni }}</p>
        <p>Email: {{ usuario.email }}</p>
        <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary">Confirmar</button>
        </form>
    </div>
</body>
</html>
{% endblock %}