{% extends 'base.html' %}

{% block title %}
<html>
<head>
    <title>Donación de Producto</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
</head>
{% endblock title %}
{% block content %}
<body>
    <div class="container">
        <h2 class="mt-5">Donación de Producto</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Registrar</button>
        </form>
    </div>
</body>
</html>
{% endblock %}