{% extends 'base.html' %}

{% block title %}
    <title>Estadisticas de Intercambios</title>
{% endblock title %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center">Intercambios Confirmados y Rechazados</h1>
    <div class="text-center">
        <img src="data:image/png;base64,{{ confirmadas_canceladas }}"
             class="img-fluid">
    </div>

    <h1 class="text-center">Intercambios Pendientes y Finalizados</h1>
    <div class="text-center">
        <img src="data:image/png;base64,{{ pendientes_finalizados }}"
             class="img-fluid">
    </div>

    <h1 class="text-center">Intercambios Pendientes por Sucursal</h1>
    <div class="text-center">
        <img src="data:image/png;base64,{{ pendientes_sucursal }}"
             class="img-fluid">
    </div>

    <h1 class="text-center">Intercambios Finalizados por Sucursal</h1>
    <div class="text-center">
        <img src="data:image/png;base64,{{ terminados_sucursal }}"
             class="img-fluid">
    </div>
</div>
{% endblock content %}