{% extends 'base.html' %}

{% block title %}
        <title>Publicaciones del Sistema</title>
{% endblock title %}

{% block content %}
<br>
    {% for message in messages %}
        <svg xmlns="http://www.w3.org/2000/svg" class="d-none">
            <symbol id="exclamation-triangle-fill" viewBox="0 0 16 16">
            <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
            </symbol>
        </svg>
        
        <div class="alert alert-warning d-flex align-items-center" role="alert">
            <svg class="bi flex-shrink-0 me-2" role="img" aria-label="Warning:"><use xlink:href="#exclamation-triangle-fill"/></svg>
            <div>
            {{ message }}
            </div>
            <button type="button" class="btn-close ms-auto" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
<form method="POST" action="{% url 'publicaciones:filtrar_publicaciones_sistema' %}">
    
    {% csrf_token %}
    <main class="container mt-5">
        <div class="col d-flex">
            <div class="col-md-4">
                <div class="input-group">
                    <select class="form-select shadow-sm" name="categoria">
                        <option selected>Categoria</option>
                        {% for categoria in categorias %}
                        <option value="{{ categoria.id }}">{{ categoria.titulo }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div> 

            <div class="col-md-4">
                <div class="input-group">
                    <select class="form-select shadow-sm" name="reputacion">
                        <option selected>Reputacion</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                </div>
            </div>
            
            <div class="col-md-4 d-flex align-items-center">
                {% load static %}
                <button class="btn" type="submit">
                    <img src="{% static 'logoLupaBuscador.png' %}" alt="Buscar" style="max-width: 50px; height: auto;">
                </button>
            </div>
        </div>
    </main>
</form> 
<form method="GET">
    {% csrf_token %}
    <ul>
        {% if publicacionesSistema %}
            <main class="container mt-5">
                <main class="container mt-4">
                    <div class="row">
                        {% for publicacion in publicacionesSistema %}
                            <div class="col-md-3 mb-4 d-flex align-items-stretch">
                                <div class="card shadow-sm" style="width: 100%;">
                                    <div class="card-body">
                                        <a href="{% url 'sesiones:view_profile_user' publicacion.usuarioId.id %}">
                                            {{ publicacion.usuarioId.personaId.nombre }}
                                        </a>
                                        <h5 class="card-title"> {{publicacion.titulo}}</h5>
                                        <h6 class="card-subtitle mb-2 text-body-secondary">{{ publicacion.descripcion }}</h6>
                                        <a href="{% url 'publicaciones:seleccionar_publicacion' publicacion.id %}" class="btn btn-primary">Ver</a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </main>
                {% if request.session.rol == 'usuario' %}
                    <main class="container mt-4">
                        <div class="row">
                            <div class="col-md-3 mb-4">
                                <a href="{% url 'publicaciones:realizar_publicacion' %}" class="btn btn-success">Crear nueva publicación</a>
                            </div>
                            <div class="col-md-3 mb-4">
                                <a href="{% url 'publicaciones:listar_publicaciones_usuario' request.session.rol_id %}" class="btn btn-primary">Ver mis publicaciones</a>
                            </div>
                        </div>
                    </main>
                {% endif %}
            </main>
        {% endif %}
    </ul>
</form>

{% endblock %}