{% extends 'base.html' %}

{% block title %}
        <title>Publicaciones del Sistema</title>
{% endblock title %}

{% block content %}
<form method="GET">
    <h1>Publicaciones</h1>

    {% if mensaje %}
        <p>{{ mensaje }}</p>
    {% else %}

        {% csrf_token %}

        <ul>
            {% if publicacionesUsuario %}
            <main class="container">
                <div class="row">
                {% for publicacion in publicacionesUsuario %}
                    <div class="col-md-3 mb-4">
                        <div class="card" style="width: 20rem;">
                            <div class="card-body">

                                <h5 class="card-title"> {{publicacion.titulo}}</h5>
                                <h6 class="card-subtitle mb-2 text-body-secondary">{{ publicacion.descripcion }}</h6>

                                <a href="{% url 'publicaciones:seleccionar_publicacion' publicacion.id %}" class="btn btn-primary">Ver</a>
                                <a href="{% url 'publicaciones:eliminar_publicacion' publicacion.id %}" class="btn btn-danger">Eliminar</a>

                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </main>
            {% else %}
                    <h1>No existen publicaciones del usuario</h1>
            {% endif %}
        </ul>
    {% endif %}

</form>
{% endblock %}