{% extends 'base.html' %}

{% block title %}
        <title>Seleccionar Publicacion</title>
{% endblock title %}
{% block content %}
<h1>Publicacion</h1>
    <main class="container">
        <div class="row">
            <div class="col-md-3 mb-4">
                <div class="card" style="width: 20rem;">
                    <div class="card-body">
                        <a href="{% url 'sesiones:view_profile_user' publicacion.usuarioId.id %}">
                            {{ publicacion.usuarioId.personaId.nombre }}
                        </a>
                        <h5 class="card-title"> {{publicacion.titulo}}</h5>
                        <h6 class="card-subtitle mb-2 text-body-secondary">{{ publicacion.descripcion }}</h6>
                        <h7 class="card-subtitle mb-2 text-body-secondary">cantidad: {{ publicacion.cantidad }}</h7>
                        {% if request.session.rol == 'administrador'%}
                            <a href="{% url 'publicaciones:eliminar_publicacion' publicacion.id %}" class="btn btn-danger">Eliminar</a>
                        {% endif %}
                    </div>
                </div>
                <h3>Comentarios:</h3>
                <ul>
                    {% for comentario in comentarios %}
                        <li>
                            <a href="{% url 'sesiones:view_profile_user' comentario.usuarioId.id %}">
                                {{ comentario.usuarioId.personaId.nombre }}:
                            </a>
                            {{ comentario.texto }}, {{ comentario.fecha }}
                        </li>
                    {% endfor %}
                    {% if request.session.rol == 'usuario' %}
                        <a href="{% url 'publicaciones:realizar_comentario' publicacion.id %}">Realizar comentario</a>
                    {% endif %}
                </ul>

            </div>
        </div>
    </main>


{% endblock %}