<nav>
    <ul>
        <li>
            <a href="/">HOME</a>
        </li>

        <li>
            <a href="intercambios/">INTERCAMBIOS</a>
        </li>

        <li>
            <a href="signup/">REGISTRAR USUARIO</a>
        </li>

        <li>
            <a href="edit_user/">EDITAR USUARIO</a>
        </li>

        <li>
            <a href="delete_user/">ELIMINAR USUARIO</a>
        </li>
        <li>
            <a href="signin/">INICIAR SESION</a>
        </li>
        <li>
            <a href="signout/">CERRAR SESION</a>
        </li>
    </ul>
</nav>


{% block content %}
{% endblock %}