{% extends 'base.html' %}
{% block title %}
        <title>Ofrecimientos de la Publicacion</title>
{% endblock title %}

{% block content %}
<form method="GET">
    {% csrf_token %}
    {% for msg in messages %}
        {% if msg.level == 25 %}
          <svg xmlns="http://www.w3.org/2000/svg" class="d-none">
            <symbol id="check-circle-fill" viewBox="0 0 16 16">
              <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"></path>
            </symbol>
          </svg>
          <div class="alert alert-success d-flex align-items-center" role="alert">
            <svg class="bi flex-shrink-0 me-2" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"></use></svg>
              <div>
                {{ msg }}
              </div>
            <button type="button" class="btn-close ms-auto" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        {% elif msg.level == 30 %}
          <svg xmlns="http://www.w3.org/2000/svg" class="d-none">
            <symbol id="exclamation-triangle-fill" viewBox="0 0 16 16">
              <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
            </symbol>
          </svg>
            
          <div class="alert alert-warning d-flex align-items-center" role="alert">
              <svg class="bi flex-shrink-0 me-2" role="img" aria-label="Warning:"><use xlink:href="#exclamation-triangle-fill"/></svg>
              <div>
                {{ msg }}
              </div>
              <button type="button" class="btn-close ms-auto" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        {% endif %}
      {% endfor%}
        {% if ofrecimientosPublicacion %}
        <main class="container  mt-5">
            <div class="row">
            {% for ofrecimiento in ofrecimientosPublicacion %}
                <div class="col-md-3 mb-4 d-flex align-items-stretch">
                    <div class="card shadow-sm w-100">
                        <div class="card-body d-flex flex-column">
                            <h5 class="card-title">{{ ofrecimiento.articulo }}</h5>
                            <h6 class="card-subtitle mb-2 text-muted">{{ ofrecimiento.descripcion }}</h6>
                            <h7 class="card-subtitle mb-2 text-muted">cantidad: {{ ofrecimiento.cantidad }}</h7>
                            <img src="data:image/png;base64,{{ ofrecimiento.imagen }}"
                                class="img-fluid m-3 shadow-sm ratio-1x1 "
                                style="border: 1px solid #ddd"
                                alt="Imagen">
                            <div class="d-flex justify-content-center">
                                <a href="{% url 'ofrecimientos:aceptar_ofrecimiento' ofrecimiento.id %}" class="btn btn-success m-1">Aceptar</a>
                                <a href="{% url 'ofrecimientos:rechazar_ofrecimiento' ofrecimiento.id %}" class="btn btn-danger m-1">Rechazar</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>
        </main>
        {% endif %}

</form>
{% endblock %}