{% extends 'base.html' %}
{% block title %}
        <title>Ofrecimientos de la Publicacion</title>
{% endblock title %}

{% block content %}
<form method="GET">
    {% csrf_token %}
    {% for message in messages %}
        <svg xmlns="http://www.w3.org/2000/svg" class="d-none">
            <symbol id="exclamation-triangle-fill" viewBox="0 0 16 16">
            <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
            </symbol>
        </svg>
        
        <div class="alert alert-warning d-flex align-items-center" role="alert">
            <svg class="bi flex-shrink-0 me-2" role="img" aria-label="Warning:"><use xlink:href="#exclamation-triangle-fill"/></svg>
            <div>
            {{ message }}
            </div>
            <button type="button" class="btn-close ms-auto" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
        {% if ofrecimientosPublicacion %}
        <main class="container  mt-5">
            <div class="row">
            {% for ofrecimiento in ofrecimientosPublicacion %}
                <div class="col-md-3 mb-4 d-flex align-items-stretch">
                    <div class="card shadow-sm" style="width: 100%;">
                        <div class="card-body">

                            <h5 class="card-title"> {{ofrecimiento.articulo}}</h5>
                            <h6 class="card-subtitle mb-2 text-body-secondary">{{ ofrecimiento.descripcion }}</h6>

                            <a href="{% url 'ofrecimientos:aceptar_ofrecimiento' ofrecimiento.id %}" method="POST" style="display: inline;">
                                <button type="submit" class="btn btn-success">Aceptar</button>
                            </form>                            

                            <a href="{% url 'ofrecimientos:rechazar_ofrecimiento' ofrecimiento.id %}" class="btn btn-danger">Rechazar</a>

                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>
        </main>
        {% endif %}
    </ul>

</form>
{% endblock %}